*{
    font-size: 2rem;
    font-family: roboto, serif;
    margin: 0;
    padding: 0;
}

#body{
    background-color: lightblue;
}



.titulo{
    font-size: 3.4rem;
    padding-top: 30px;
    font-family: 'Architects Daughter', cursive;
}

.contenedor_titulo{
    margin-bottom: 20px;
    text-align: center;
}

.header{
    margin: auto;
    width: 90%;
}

/*h2{*/
/*    font-family: roboto, serif;*/
/*}*/

label{
    font-size: 1.6rem;
}

.consulta{
    width: 80%;
    margin: auto;
    border-radius: 65px;
    background-color: azure;
    padding: 45px;
}

input{
    font-size: 1.7rem;
    margin-top: 60px;
    background-color: lightcyan;
    border: solid 2px black;
    border-radius: 20px;
    max-width: 100%;
}
button{
    margin-top: 35px;
    padding: 12px;
    font-size: 1.8rem;
    border: solid 2px black;
    border-radius: 30px;
}

#main{

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main h3{
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 1px;
}

ul{
    list-style: none;
    margin-top: 25px;
}

li{
    padding-top: 15px;
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 706px;
}

#secondary{
    padding-top: 40px;
}

@media screen and (min-width: 1600px) {
    .info{
        flex-direction: initial;
        padding: 60px;
        margin: auto;
        width: 75%;
    }
    #main{
        width: 50%;
    }

    #main h3{
        text-align: initial;
    }
    img{
        padding-top: 160px;
        max-width: initial;
    }

    #secondary{
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
    }

    li {

        font-size: 1.3rem;
    }
}