*{
    margin: 0;
    padding: 0;
}


body{
    max-width: 80vw;
    margin: 90px auto auto;
    background-color: lightpink;
}

h1{
    font-size: 2rem;
    max-width: 615px;
    margin: auto;
}

.contenedor{
    background: rgba(255,255,255, 0.9);
    padding: 45px;
    border-radius: 25px;
    max-width: 800px;
    margin: auto;

}

section{
    margin-top: 50px;
}

#main{
    margin-top: 72px;
    width: 45%;
}

ul{
    list-style: none;
    margin-top: 5px;
}
li{
    margin-top: 10px;
}

#estadoCielo {
    display: flex;
    align-items: center;
}

#estadoCielo img{
    width: 65px;
}

.info{
    display: flex;
}

#secondary{
    margin-top: 72px;
}

.imagen{
    max-width: 394px;
    width: 100%;
}

@media screen and (max-width: 920px){
    .info{
        flex-direction: column;

    }
    #main{
        width: 100%;
    }
}

input{
    max-width: 120px;
    height: 25px;
    font-size: 1rem;
}

button{
    width: 60px;
    height: 30px;
    border: solid 2px lightgrey;
    border-radius: 10px;
    background: lightgreen;
    font-weight: bold;
}

@media screen and (max-width: 523px){
    input{
        margin-top: 15px;
    }
}