*{
    margin: 0;
    padding: 0;
}


body{
    max-width: 80vw;
    margin: 90px auto auto;
    background-color: lightpink;
}

h1{
    font-size: 2rem;
    max-width: 615px;
    margin: auto;
}

.contenedor{
    background: rgba(255,255,255, 0.9);
    padding: 45px;
    border-radius: 25px;

}

section{
    margin-top: 50px;
}

#main{
    margin-top: 72px;
    width: 45%;
}

ul{
    list-style: none;
    margin-top: 5px;
}
li{
    margin-top: 10px;
}

#estadoCielo {
    display: flex;
    align-items: center;
}

#estadoCielo img{
    width: 65px;
}

.info{
    display: flex;
}

#secondary{
    margin-top: 72px;
}

.imagen{
    max-width: 394px;
    width: 100%;
}

@media screen and (max-width: 920px){
    .info{
        flex-direction: column;
    }
}
